

body {
 background: url("../img/rough_diagonal.png");
}

.container {
  text-align: left;
  width: 600px;
  padding: 0px 20px 20px 20px;
  
}

p {

  font-size: 14px;
}
th {
  text-align: left;
}

.header a {
  text-decoration: none;
  color: #EB4B4B;
}
.header {
  text-align: left;
  font-family: palatino;
  background: url("../img/debut_dark.png");
  margin-top: 0px;
  padding-top:10px;
  padding-bottom: 10px; 
  font-size: 50px;

  -moz-box-shadow: 0 0 30px 10px #999;
  -webkit-box-shadow: 0 0 30px 10px #999;
  box-shadow: 0 0 30px 10px #999;
}

.logout {
  float: right;
  margin-top: 23px;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

h2 {
  font-size: 35px;
  font-family: palatino;
}

h3 {
  font-size:30px;
  font-family: palatino;
}

ul {
  list-style-type: none;
}
ul a {
  text-decoration: none;
  list-style-type: none;
  line-height: 25px;
  color: black;

}

li a:hover {
  color:white;
  background: #595959;
}

li a {
  border-radius: 10px;
  text-decoration: none;
  color: gray;
  font-size: 24px;
  line-height: 80px;
  border: 5px solid white;
  -webkit-box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
  0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
  0 0 16px rgba(0,0,0,0.1);
  box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
  0 0 16px rgba(0,0,0,0.1);
  padding: 15px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 0;
}


.new_input {
  height:auto; 
  margin:0 auto; 
}

#new_form{
  border:1px;
  width:50%; 
  margin:0 auto;
}

.edit_button input:hover {
  color:white;
  background: #595959;
}
.edit_button{
  display: inline-block;
}

.delete_button input:hover {
  color:white;
  background: #595959;
}

.delete_button {
  display: inline-block;
}
.edit_button input {
  border-radius: 10px;
 color:gray;
 font-size:16px;
 line-height: 40px;
 border: 5px solid white;
 -webkit-box-shadow:
 inset 0 0 8px  rgba(0,0,0,0.1),
 0 0 16px rgba(0,0,0,0.1);
 -moz-box-shadow:
 inset 0 0 8px  rgba(0,0,0,0.1),
 0 0 16px rgba(0,0,0,0.1);
 box-shadow:
 inset 0 0 8px  rgba(0,0,0,0.1),
 0 0 16px rgba(0,0,0,0.1);
 background: rgba(255,255,255,0.5);
 margin: 0 0 10px 0;
}

.delete_button input{
  border-radius: 10px;
  color: gray;
  font-size:16px;
  line-height: 40px;
  border: 5px solid white;
  -webkit-box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
  0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
  0 0 16px rgba(0,0,0,0.1);
  box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
  0 0 16px rgba(0,0,0,0.1);
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 0;
}

#authentication_form input {
  border-radius: 10px;
  display: block;
  font-size:24px;
  line-height: 40px;
  border: 5px solid white;
  -webkit-box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
  0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
  0 0 16px rgba(0,0,0,0.1);
  box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
  0 0 16px rgba(0,0,0,0.1);
  padding: 15px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 0;
}

#new_account_button {
  position: absolute; left: -100%;
}

#post_body {
  text-align:center;
}
#new_account_link {
  border-radius: 10px;
  color: gray;
  text-decoration: none;
  font-size:24px;
  line-height: 40px;
  border: 5px solid white;
  -webkit-box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
  0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
  0 0 16px rgba(0,0,0,0.1);
  box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
  0 0 16px rgba(0,0,0,0.1);
  padding: 15px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 0;
}

#new_account_link:hover {
  color:white;
  background: #595959;
}

#user_submit {
  position: absolute; left: -100%;
}

#new_form input {
  border-radius: 10px;
  font-size:24px;
  line-height: 40px;
  width: 550px;
  border: 5px solid white;
  -webkit-box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
  0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
  0 0 16px rgba(0,0,0,0.1);
  box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
  0 0 16px rgba(0,0,0,0.1);
  padding: 15px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 0;
}

#text__area {
  font-size:40px;
}

#new_submit {
  position: absolute; left: -100%;
}

.find_tag input {
  border-radius: 10px;
  font-size:24px;
  line-height: 40px;
  
  border: 5px solid white;
  -webkit-box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
  0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
  0 0 16px rgba(0,0,0,0.1);
  box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
  0 0 16px rgba(0,0,0,0.1);
  padding: 15px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 0;
}

#tag_submit {
  position: absolute; left: -100%;
}

#tags {
  text-decoration: none;
  list-style: none;
  line-height: 25px;
  color: black;
  padding-left: 0px;
  list-style: inline;
}

#tags li {
  display: inline-block;
}

#tags li a:hover {
  color:white;
  background: #595959;
}

#tags li a {
  font-size: 12px !important;
  display: inline-block;
  text-decoration: none;
  color: gray;
  line-height: 20px;
  border: 5px solid white;
  -webkit-box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
  0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
  0 0 16px rgba(0,0,0,0.1);
  box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
  0 0 16px rgba(0,0,0,0.1);
  padding: 5px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 5px 0;
}

