<h2> Please enter in the title of the post you would like to delete: </h2>

<form method="post" class="delete" action="/posts">
  <input type="hidden" name="_method" value="delete" />
  <input type="textarea" placeholder="Post Title" name="post_title"></input>
  <input type="submit" name="submit"></input>
</form>
