<div class="container">
  <h2>Welcome to your blog, <%= @user.username %>! </h2>

  <h3>What would you like to do:</h3>

  <ul>
  <li><a href="/show-all">Show all</a></li>
  <li><a href="/show-mine">Show mine</a></li>
  <li><a href="/new-post">Write a new post</a></li>
  <li><a href="/tag-sort">Sort by tag</a></li>
</ul>

</div>


