<div class="container">
  <h1>Welcome to your blog, <%= @user.username %>! </h1>

  <h2>What would you like to do:</h2>

  <ol>
  <li><a href="/show-all">Show all</a></li>
  <li><a href="/show-mine">Show mine</a></li>
  <li><a href="/new-post">Write a new post</a></li>
  <li><a href="/tag-sort">Sort by tag</a></li>

</div>

<a href="/logout">Logout</a>
