<div class="container">
  <h1>Welcome to Blogs Are Us!</h1>

  <form method="POST" action="/user/authentication" id="authentication_form">
    <input type="textarea" placeholder="email" name="email"></input>
    <input type="textarea" placeholder="password" name="password"></input>
    <input type="submit" name="submit"></input>
  </form> 

  <br>
  <br>

  <a href="/user/new_account">New Account</a>

</div>
