<h2> Awesome! Write your little heart out: </h2>

<h3> New Blog Post: </h3>
<form method="post" action="/posts">
  <input type= "hidden" name="_method" value="put" />
 <input type="text" placeholder="Title" name="post_title" />
 <br>
 <textarea name="post_body">The Post!</textarea>
 <br>
 <input type="text" placeholder="Tags" name="tags" />
 <br>
<input type="submit" name="submit"></input>
</form>
