<h2> Awesome! Write your little heart out: </h2>

<h3> New Blog Post: </h3>
<div class = "new-input">

<form method="post" id="new_form" action="/posts/<%= @user.id%>">
  <input type= "hidden" name="_method" value="put" />
  <input type= "text" placeholder="Title" name="post_title" />
  <br><br>
  <textarea rows="20" id="text_area" cols="60" style="border:none" placeholder="The Post!" name ="post_body"></textarea>
  <br><br>
  <input type="text" placeholder="Tags" name="tags" />
  <br>
<input type="submit" id="new_submit" name="submit"></input>
</form>

</div>

