<div class="new_input">
  <h1>Create a New Account</h1>

  <form method="POST" action="/user" id="authentication_form">
    <input type= "hidden" name="_method" value="put" />
    <input type="textarea" placeholder="Enter New Username" name="username"></input>
    <input type="textarea" placeholder="Enter New Email" name="email"></input>
    <input type="password" placeholder="Enter New Password" name="new_password" </input>
    <input type="submit" id="new_account_button" name="submit"></input>
  </form> 
</div>
